body {
    background-color: #272822;
    color: #e1e1da;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 48rem;
    margin: 2rem auto 2rem auto;
}

.search>* {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.search_half {
    width: 50%;
}

.search_full {
    width: 100%;
}

.search input {
    box-sizing: border-box;
    padding: 0.25rem;
    margin: 0.25rem 0 0.25rem 0;
    font-size: 1.25rem;
    width: 100%;
}

.reddit_post {
    text-decoration: none;
    position: relative;
    display: block;
    max-width: 64rem;
    min-width: 250px;
    margin: 5px auto 5px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    color: #e1e1da;
    background-color: #2f302a;
}

.reddit_post:hover {
    background-color: #373832;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.reddit_post *:link {
    text-decoration: none;
}

.reddit_post *:visited {
    text-decoration: none;
}

.reddit_post *:hover {
    text-decoration: none;
}

.reddit_post *:active {
    text-decoration: none;
}

.post_header {
    display: flex;
}

.post_header>* {
    margin-left: 5px;
    margin-right: 5px;
}

.subreddit {
    color: #ff6188;
}

.author {
    color: #ffd866;
}

.time {
    color: #78dce8;
}

.post_body {
    color: #e1e1da;
    margin: 5px;
    word-break: break-word;
    white-space: pre-line;
}

input[type=datetime-local] {
    appearance: button;
    content: "";
}

@media only screen and (max-width: 600px) {
    .post_header {
        flex-direction: column;
    }

    .search_half {
        width: 100%;
    }
}
